@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';

.overlay {
  position: relative;
}
video {
  position: relative;
}
canvas {
  position: absolute;
}
